#game {
    border: 2px solid black;
    height: 100px;
    width: 300px;
    background-color: #ddffdd;
    margin-left: 25%;
}

.btn {
    position: relative;
    margin-left: 35%;
    margin-top: 5%;
}

.errors {
    color: red;
}