<h1>New Questions</h1>
<div ng-controller = 'QuestionsController'>
    <h3 class="errors">{{ errors.error }}</h3>
    <div class="row">
        <div class="col-md-4 form">
            <h2>Add a New Question.</h2>
            <form>
                <div class="form-group">
                    <label>Question</label>
                    <textarea class="form-control" rows="3" ng-model="new_question.question"></textarea>
                </div>
                <div class="form-group">
                    <label>Correct Answer</label>
                    <input type="text" ng-model ="new_question.answer">
                </div>


                <div class="form-group">
                    <label>Fake Answer 1</label>
                    <input type="text" ng-model ="new_question.wrong1">
                </div>

                <div class="form-group">
                    <label>Fake Answer 2</label>
                    <input type="text" ng-model ="new_question.wrong2">
                </div>

                <input type="submit" value="Add new Question" ng-click = 'addQuestion()'>
            </form>
        </div>
    </div>
</div>